# Errors get logged to /var/log/cfn-init.log. See Also /var/log/eb-tools.log

packages:
    yum:
        dos2unix: []

commands:
  10-update-timezone:
    command: echo -e "ZONE=\"America\Los_Angeles\"\nUTC=true" > /etc/sysconfig/clock
  20-set-permissions:
    command: chmod 644 /etc/sysconfig/clock
  30-setup-localtime:
    command: ln -sf /usr/share/zoneinfo/America/Los_Angeles /etc/localtime

